:root {
    --color-bg1: #3d0049;
    --color-bg2: #18081e;
    --color1: 0, 0, 0;
    --color2: #9D68E0;
    --color3: #1a0729;
    --color4: 0, 0, 0;
    --color5: 0, 0, 0;
    --color-interactive: 104, 26, 101;
    --circle-size: 200%;
  --text-color: #ffffff;
  --text-description-color: #d1d1d1;
  --bg-color: rgba(255, 255, 255, 0.062);
  --blending: hard-light;
  --mobile-inline-padding: 22px;
  --border: 1px solid #ffffff85;
  --radius: 24px;
  --radius-2: 12px;
  --transition-border: border-color 0.15s ease;
  --transition-text: color 0.15s ease;
  --bg-secondary-color: #1b0d2b;

}