.project-main {
    overflow: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        padding-top: 30px;
        display: flex;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: min-content;
        justify-content: flex-start;
        overflow: auto;
        padding: 16px 0 0;
        width: 100%;

        .project-item {
            gap: 24px;
            padding-block-end: 10px;


            .top-info {
                flex-direction: column;
                gap: 6px;

                h4 {
                    font-size: 26px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }

                span {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    height: min-content;

                }

                .badge {
                    flex-wrap: wrap;
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    gap: 10px;
                    padding-top: 16px;
                    padding-block-end: 16px;
                    width: 100%;
                    box-sizing: border-box;

                    span {
                        padding: 6px 12px;
                        flex: 0 0 auto;
                        background-color: var(--bg-color);
                        border: var(--border);
                        border-radius: 1000px;
                    }
                }
            }

            .carousel-container {
                box-sizing: border-box;
                width: 100%;
                
                overflow: hidden;
                position: relative;
                margin: auto;
                border-radius: 10px;

                .project-img {
                    display: flex;
                    transition: transform 0.5s ease-in-out;
                    width: 100%;

                    img {
                        width: 100%;
                        flex: 0 0 100%;
                        object-fit: cover;
                    }
                }

                .carousel-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: rgba(0, 0, 0, 0.5);
                    color: white;
                    border: none;
                    padding: 10px;
                    cursor: pointer;
                    font-size: 18px;
                    border-radius: 1000px;
                }

                .prev {
                    left: 10px;
                }

                .next {
                    right: 10px;
                }

            }
        }
    }
}

.after-carousel {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.445);
    

}