@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap");
:root {
  --color-bg1: #3d0049;
  --color-bg2: #18081e;
  --color1: 0, 0, 0;
  --color2: #9D68E0;
  --color3: #1a0729;
  --color4: 0, 0, 0;
  --color5: 0, 0, 0;
  --color-interactive: 104, 26, 101;
  --circle-size: 200%;
  --text-color: #ffffff;
  --text-description-color: #d1d1d1;
  --bg-color: rgba(255, 255, 255, 0.062);
  --blending: hard-light;
  --mobile-inline-padding: 22px;
  --border: 1px solid #ffffff85;
  --radius: 24px;
  --radius-2: 12px;
  --transition-border: border-color 0.15s ease;
  --transition-text: color 0.15s ease;
  --bg-secondary-color: #1b0d2b;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  height: 100%;
  font-family: "Inter Tight";
  box-sizing: border-box;
}
html a,
body a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

main {
  max-width: 1054px;
  margin-inline: auto;
  padding-inline: var(--mobile-inline-padding);
  background: transparent;
}

.scroll-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  background: #f4f4f4;
  margin: 50px auto;
  padding: 50px;
  width: 80%;
  font-size: 24px;
  border-radius: 8px;
}

.scroll-section.visible {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
}
h2 span:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.445);
  margin-top: 20px;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
.gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  z-index: -1;
}
.gradient-bg svg {
  display: none;
}

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
}

.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
}

.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
  opacity: 1;
}

.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}

.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  opacity: 1;
}

.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

#menu-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

#close {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-1 {
  width: 100%;
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 18px 40px;
  height: 50px;
  border-radius: 50px;
  background: #6941c6;
  box-shadow: 0px 0px 21.3px 0px #6941c6;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.button-1:hover {
  animation: 1s ease forwards;
  background: #9c5cef;
  box-shadow: 0px 0px 21.3px 0px #9c5cef;
}

.button-2 {
  width: 100%;
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 18px 40px;
  height: 50px;
  border-radius: 50px;
  border: var(--border);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.button-2:hover {
  border: 0px 0px 21.3px 0px rgb(116, 44, 145);
  box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
  border-radius: 50px;
}

.nav-container {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.nav-container .scrolled {
  transform: translateY(100%);
}
@media (width <= 768px) {
  .nav-container #menu {
    padding-block: 16px;
    padding-inline: var(--mobile-inline-padding);
    text-align: right;
    justify-content: center;
    backdrop-filter: blur(12px);
    position: sticky;
  }
  .nav-container #menu .navbar {
    display: none;
  }
}

#menu-dialog {
  border: var(--border);
  border-radius: var(--radius);
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: rgba(25, 4, 39, 0.171);
  backdrop-filter: blur(20px);
  width: 70vw;
  margin: auto;
  padding: 16px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#menu-dialog .dialog {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  text-align: center;
  color: var(--text-color);
}
#menu-dialog .dialog li {
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
#menu-dialog .dialog a {
  text-decoration: none;
  color: var(--text-color);
}

dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(4px);
  transition: background-color 0.3s ease;
}

dialog:not([open])::backdrop {
  background-color: hsla(0, 0%, 0%, 0);
}

#menu-dialog.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@media (width >= 769px) {
  #menu {
    padding-block: 5px;
    background: none;
    backdrop-filter: none;
    padding: 0;
    top: 36px;
    text-align: initial;
    margin: 36px auto 0;
  }
  #menu-button {
    display: none;
  }
  .navbar {
    margin: 36px auto 0;
    display: flex;
    gap: 35px;
    padding: 20px 30px;
    border: 1px solid rgba(255, 255, 255, 0.5215686275);
    border-radius: 36px;
    width: fit-content;
    backdrop-filter: blur(12px);
    justify-content: space-around;
    background-color: color-mix(in srgb, var(--bg-color), transparent 30%);
  }
  .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }
  .navbar a:hover {
    text-shadow: #ffffff 0px 0px 20px;
  }
  .navbar a:last-child + .separator {
    display: none;
  }
  .separator {
    color: #ffffff;
    font-size: 16px;
  }
}
.hero {
  padding-top: 120px;
  padding-bottom: 56px;
  font-size: 36px;
  font-weight: 700;
  text-wrap: balance;
  margin: 0;
}
.hero .landing-span-animation {
  animation: span-animation 2s ease forwards;
  border-radius: 0.25rem;
  padding: 0.1875rem;
  background: linear-gradient(90deg, #6568e9, #9c5cef);
  background-size: 0% 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}
@keyframes span-animation {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@media (width >= 768px) {
  .hero {
    padding-block: 129px;
    padding-top: 200px;
  }
}
.hero h1 {
  margin: auto;
}
.hero strong {
  color: var(--text-color);
  font-weight: 500;
}
.hero p {
  font-size: 1.25rem;
  color: var(--text-description-color);
  font-weight: 200;
  line-height: 1.5;
}
.hero .card {
  position: relative;
  margin-inline: auto;
  text-align: center;
  border: var(--border);
  border-radius: var(--radius);
  padding: 120px 29px;
  overflow: hidden;
  background-color: color-mix(in srgb, var(--bg-color), transparent 30%);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-items: center;
}
.hero .card .button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.hero .card .button-container .button-2 a {
  display: flex;
  gap: 8px;
}
@media (width >= 768px) {
  .hero .card .button-container {
    flex-direction: row;
  }
}
.hero .card .badge {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  margin-inline: auto;
  background-color: var(--bg-color);
  font-size: 14px;
  padding: 6px 12px;
  border: var(--border);
  border-radius: 1000px;
  transition: var(--transition-bg), var(--transition-border);
  font-weight: 300;
}
.hero .card .badge .dot {
  transition: var(--transition-bg), var(--transition-border);
  --size: 6px;
  --color: #22c55e;
  width: var(--size);
  height: var(--size);
  background-color: var(--color);
  border-radius: 50%;
  box-shadow: 0 0 0 0 var(--color);
  transform: scale(1);
  animation: pulse 3s infinite;
}
.hero .card .badge .dot .landing-span-animation {
  animation: span-animation 2s ease forwards;
  border-radius: 0.25rem;
  padding: 0.1875rem;
  background: linear-gradient(90deg, #6568e9, #9c5cef);
  background-size: 0% 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--color);
  }
  70% {
    transform: scale(1.5);
    box-shadow: 0 0 5px 5px rgba(34, 197, 94, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
  }
}
@keyframes span-animation {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.grid a {
  grid-area: 3/1/4/4;
}
.grid h2 {
  grid-area: 1/1/3/13;
}
.grid h2 span {
  order: 1;
}
.grid p {
  grid-area: 4/1/5/13;
  grid-column-start: 1;
  margin: 0;
  line-height: 120%;
  font-weight: 300;
}

.layout {
  grid-area: 6/1/7/13;
  row-gap: 0rem;
  display: grid;
  width: 100%;
  gap: 0.5rem 0.5rem;
  margin-block-end: 50px;
}
.layout .card-proyect {
  grid-column-end: 13;
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border: 1px rgba(255, 255, 255, 0.322) solid;
  border-radius: var(--radius-2);
  background-color: color-mix(in srgb, var(--bg-color), transparent 30%);
  text-decoration: none;
}
.layout .card-proyect:hover {
  background-color: rgb(39, 0, 34);
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.layout .card-proyect a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
.layout .card-proyect a img {
  object-fit: cover;
  max-width: 100%;
  display: inline-block;
  border-radius: var(--radius-2);
}
.layout .card-proyect a .description {
  display: flex;
  padding: 1rem 2rem 0.5rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-right: 0.75rem;
}
.layout .card-proyect a .description .redirection {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.layout .card-proyect a .description p {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

#card-1 {
  grid-area: 1/1/2/9;
  grid-column-end: 13;
}

#card-2 {
  grid-area: 1/9/2/13;
  align-self: end;
  grid-row: 2/3;
  grid-column-start: 1;
}

#card-3 {
  grid-area: 2/1/3/7;
  grid-row: 3/4;
  grid-column-end: 13;
}

#card-4 {
  grid-area: 2/7/3/13;
  grid-row: 4/5;
  grid-column-start: 1;
}

.grid {
  display: grid;
  width: 100%;
  gap: 1rem 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.grid a {
  grid-area: 3/1/4/4;
}
.grid h2 {
  grid-area: 1/1/3/13;
}
.grid h2 span {
  order: 1;
}
.grid p {
  grid-area: 4/1/5/13;
  grid-column-start: 1;
  margin: 0;
  line-height: 120%;
  font-weight: 300;
}

.layout .card-proyect-2 {
  grid-column-end: 13;
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border: 1px rgba(255, 255, 255, 0.322) solid;
  border-radius: var(--radius-2);
  background-color: color-mix(in srgb, var(--bg-color), transparent 30%);
  text-decoration: none;
}
.layout .card-proyect-2:hover {
  background-color: rgb(39, 0, 34);
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.layout .card-proyect-2 a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
.layout .card-proyect-2 a img {
  object-fit: cover;
  max-width: 100%;
  display: inline-block;
  border-radius: var(--radius-2);
}
.layout .card-proyect-2 a .description {
  display: flex;
  padding: 1rem 2rem 0.5rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-right: 0.75rem;
}
.layout .card-proyect-2 a .description .redirection {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
.layout .card-proyect-2 a .description p {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.layout .estudios {
  grid-area: 1/9/2/13;
  grid-row: 3/3;
  grid-column-start: 1;
  grid-column-end: 13;
  width: 100%;
  overflow: hidden;
}
.layout .estudios .after:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.445);
}
.layout .estudios .info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.layout .estudios .info h4 {
  font-weight: 300;
}

#card {
  grid-area: 1/1/2/9;
  grid-column-end: 13;
}

.contact .sendMsg {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}
.contact .sendMsg form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact .sendMsg form input,
.contact .sendMsg form textarea {
  width: auto;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: rgba(26, 0, 43, 0.288);
  border: var(--border);
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  outline: none;
  font-family: Inter;
}
.contact .sendMsg form input::placeholder,
.contact .sendMsg form textarea::placeholder {
  color: #b3b3b3;
}
.contact .sendMsg form button {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #6a49ff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact .sendMsg form button:hover {
  background-color: #5532d0;
}
.contact .contact-container {
  display: flex;
  justify-content: space-between;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}
.contact .contact-container .touch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact .contact-container .touch img {
  width: 250px;
}
.contact .contact-container .touch p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  line-height: 143.203%;
}
.contact .contact-container .touch p a {
  text-decoration: underline;
}
.contact .sendMsg button {
  gap: 11.28px;
}
.contact .sendMsg h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.titulo {
  padding-top: 150px;
}

.contact-page .sendMsg {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}
.contact-page .sendMsg form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-page .sendMsg .form form input,
.contact-page .sendMsg .form form textarea {
  width: auto;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: rgba(26, 0, 43, 0.288);
  border: var(--border);
  border-radius: 15px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  font-family: Inter;
}
.contact-page .sendMsg .form form input::placeholder,
.contact-page .sendMsg .form form textarea::placeholder {
  color: #b3b3b3;
}
.contact-page .sendMsg .form form button {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #6a49ff;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-page .sendMsg .form form button:hover {
  background-color: #5532d0;
}
.contact-page .contact-container {
  display: flex;
  justify-content: space-between;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}
.contact-page .contact-container .touch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-page .contact-container .touch img {
  width: 250px;
}
.contact-page .contact-container .touch p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  line-height: 143.203%;
}
.contact-page .contact-container .touch p a {
  text-decoration: underline;
}
.contact-page .sendMsg button {
  gap: 11.28px;
}
.contact-page .sendMsg h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.titulo {
  padding-top: 150px;
}

.footer {
  padding-top: 6rem;
  position: relative;
}
.footer .divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.445);
}
.footer .footer-container {
  display: grid;
  width: 100%;
  gap: 2rem 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.footer footer {
  grid-row: 1/2;
  grid-area: 1/1/2/13;
}
.footer footer p {
  font-weight: 200;
}
.footer footer .footer-links {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.project-main {
  overflow: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-main a {
  padding-top: 30px;
  display: flex;
}
.project-main .project-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: min-content;
  justify-content: flex-start;
  overflow: auto;
  padding: 16px 0 0;
  width: 100%;
}
.project-main .project-container .project-item {
  gap: 24px;
  padding-block-end: 10px;
}
.project-main .project-container .project-item .top-info {
  flex-direction: column;
  gap: 6px;
}
.project-main .project-container .project-item .top-info h4 {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.project-main .project-container .project-item .top-info span {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
}
.project-main .project-container .project-item .top-info .badge {
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding-top: 16px;
  padding-block-end: 16px;
  width: 100%;
  box-sizing: border-box;
}
.project-main .project-container .project-item .top-info .badge span {
  padding: 6px 12px;
  flex: 0 0 auto;
  background-color: var(--bg-color);
  border: var(--border);
  border-radius: 1000px;
}
.project-main .project-container .project-item .carousel-container {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  border-radius: 10px;
}
.project-main .project-container .project-item .carousel-container .project-img {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.project-main .project-container .project-item .carousel-container .project-img img {
  width: 100%;
  flex: 0 0 100%;
  object-fit: cover;
}
.project-main .project-container .project-item .carousel-container .carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 1000px;
}
.project-main .project-container .project-item .carousel-container .prev {
  left: 10px;
}
.project-main .project-container .project-item .carousel-container .next {
  right: 10px;
}

.after-carousel {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.445);
}

.lab {
  box-sizing: border-box;
}
.lab p {
  font-size: 20px;
  line-height: 120%;
  font-weight: 300;
}
.lab .desc-lab h2 {
  padding-top: 80px;
}
.lab .lab-container {
  padding-top: 40px;
  display: grid;
  width: 100%;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  box-sizing: border-box;
}
.lab .lab-container img {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
}
.lab .lab-container .col-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 5px;
}
.lab .lab-container .col-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 5px;
}
.lab .lab-container .col-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 5px;
}
.lab .lab-container .col-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 5px;
}

.grid {
  gap: 1rem 1.5rem;
}

.card-skill {
  grid-row: 7/7;
  grid-column-start: 1;
  grid-column-end: 13;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
  padding: 28px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
  border-radius: var(--radius);
  display: flex;
  align-items: flex-start;
}
.card-skill:hover {
  background-color: rgb(49, 5, 66);
  transition-property: background-color;
  box-shadow: 0px 0px 21.3px 0px #ffffff;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card-skill .description {
  padding: 15px;
}
.card-skill .description ul {
  font-size: 18px;
}
.card-skill .description ul li {
  margin-bottom: 20px;
  font-style: italic;
}
.card-skill .description ul li strong {
  font-size: 24px;
  font-style: normal;
}
.card-skill .description h2 {
  font-size: 30px;
}

.card-soft {
  grid-row: 8/8;
  grid-column-start: 1;
  grid-column-end: 13;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
  padding: 28px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
  border-radius: var(--radius);
  display: flex;
  align-items: flex-start;
}
.card-soft:hover {
  background-color: rgb(49, 5, 66);
  transition-property: background-color;
  box-shadow: 0px 0px 21.3px 0px #ffffff;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card-soft .description {
  padding: 15px;
}
.card-soft .description ul {
  font-size: 20px;
}
.card-soft .description ul li {
  margin-bottom: 20px;
  font-style: italic;
}
.card-soft .description h2 {
  font-size: 30px;
}

.card-about {
  grid-row: 9/9;
  grid-column-start: 1;
  grid-column-end: 13;
  width: 100%;
  overflow: hidden;
  background-color: var(--bg-color);
  padding: 28px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
  border-radius: var(--radius);
  display: flex;
  align-items: flex-start;
}
.card-about:hover {
  background-color: rgb(49, 5, 66);
  transition-property: background-color;
  box-shadow: 0px 0px 21.3px 0px #ffffff;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.card-about .description {
  padding: 15px;
}
.card-about .description p {
  padding-top: 20px;
  font-size: 20px;
}
.card-about .description h2 {
  font-size: 30px;
}

@media (width <= 768px) {
  #menu {
    padding-block: 16px;
    padding-inline: var(--mobile-inline-padding);
    text-align: right;
    justify-content: center;
    backdrop-filter: blur(12px);
    position: sticky;
  }
  #menu .navbar {
    display: none;
  }
}
@media (width >= 426px) {
  .grid a {
    grid-area: 4/1/4/4;
  }
  .grid p {
    grid-area: 4/8/5/13;
    align-self: center;
    grid-column-start: 8;
  }
  h2 {
    font-size: 50px;
  }
  .layout {
    grid-area: 6/1/7/13;
  }
  .layout .card-proyect {
    overflow: visible;
  }
  #card-1 {
    grid-area: 1/1/2/9;
    align-self: end;
  }
  #card-2 {
    grid-area: 1/9/2/13;
    align-self: end;
  }
  #card-3 {
    grid-area: 2/1/3/7;
  }
  #card-4 {
    grid-area: 2/7/3/13;
    align-self: flex-start;
  }
  .layout .card-proyect-2 {
    grid-column-end: 3;
    width: 350px;
  }
  .layout .estudios {
    grid-area: 1/9/2/21;
    grid-row: 1/1;
    grid-column-start: 8;
  }
  .layout .estudios .after .info {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .layout .estudios .after .info .year {
    justify-content: space-around;
  }
  .layout .estudios .after .info h3 {
    white-space: nowrap;
  }
}
@media (width >= 769px) {
  #menu {
    padding-block: 5px;
    background: none;
    backdrop-filter: none;
    padding: 0;
    top: 36px;
    text-align: initial;
    margin: 36px auto 0;
  }
  #menu-button {
    display: none;
  }
  .navbar {
    margin: 36px auto 0;
    display: flex;
    gap: 35px;
    padding: 20px 30px;
    border: 1px solid rgba(255, 255, 255, 0.5215686275);
    border-radius: 36px;
    width: fit-content;
    backdrop-filter: blur(12px);
    justify-content: space-around;
    background-color: color-mix(in srgb, var(--bg-color), transparent 30%);
  }
  .navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
  }
  .navbar a:last-child + .separator {
    display: none;
  }
  .separator {
    color: #ffffff;
    font-size: 16px;
  }
  .button-container {
    flex-direction: row;
  }
  .contact {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    display: grid;
  }
  .contact .contact-container .touch img {
    width: 340px;
  }
  .footer .footer-container footer .footer-links {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer .footer-container footer .footer-links .footer-links-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .project-main .project-container .project-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .project-main .project-container .project-item .carousel-container {
    width: 60%;
  }
  .project-main .project-container .top-info {
    display: flex;
    align-items: center;
  }
  .project-main .project-container .top-info h4 {
    font-size: 40px;
  }
  .project-main .project-container .top-info .badge {
    font-size: 17px;
  }
  .project-main a .button-2 {
    font-size: 17px;
    padding: 18px 60px;
    height: 50px;
  }
  .lab .desc-lab p {
    width: 50%;
  }
  .lab .desc-lab h2 {
    padding-top: 200px;
  }
  .lab .lab-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .lab .lab-container .col-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: flex-start;
  }
  .lab .lab-container .col-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: flex-start;
  }
  .lab .lab-container .col-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: flex-start;
  }
  .lab .lab-container .col-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: flex-start;
  }
  .card-skill {
    grid-row: 7/7;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .card-soft {
    grid-row: 7/7;
    grid-column-start: 5;
    grid-column-end: 9;
  }
  .card-about {
    grid-row: 7/7;
    grid-column-start: 9;
    grid-column-end: 13;
  }
  .contact-page {
    padding-left: 50px;
    padding-right: 50px;
  }
  .contact-page .contact-container p {
    font-size: 1.3rem;
  }
  .contact-page .sendMsg .form form input,
  .contact-page .sendMsg .form form textarea {
    padding: 1.5rem;
    font-size: 20px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .layout .estudios {
    grid-area: 1/9/2/21;
    grid-row: 1/1;
    grid-column-start: 13;
  }
}

/*# sourceMappingURL=style.css.map */
